 RewriteEngine on
 
 #RewriteCond %{REMOTE_ADDR} !^255\.255\.255\.255
 RewriteCond %{REQUEST_URI} !/costruzione.html$ [NC]
 RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
 RewriteRule .* http://fmenegazzi.it/costruzione.html [R=302,L]

