.left
{
	background-color: rgb(245, 245, 245);
	text-align:left;
}
.color:blue{
	text-align:blue 
}
.background
{
	background:white;
	}

/* tabelle */
#h
{
	border:1px solid;
	text-align:center;

}

.title{
	background-color: #003399;
	color: white;
}

td{
	border:1px solid black;
}

table{
	border-collapse:collapse;
}

span{
	color:blue;
}